body {
    background: #f2eeee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(85, 76, 76);
}

#the-bible-life-verse-of-the-day{
    padding: 0em 0.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

#verseChapter {
    font-weight: bold;
}


      