body {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gray {
    color: #37352f;
    background: #eee;
}

.yellow {
    color: #dfa41a;
    background: #faf7d3;
}

#the-bible-life-verse-of-the-day{
    padding: 0em 0.5em;
    font-style: italic;
}

#verseChapter {
    font-weight: bold;
}

.button {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 1em;
}
      
